* {
  font-family: "IRANSansWeb", "Inter", Helvetica, "sans-serif";
}
.container {
  width: 100%;
  height: 100%;
  background-color: #06060c;
}
.users-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 100%;
}
.left-header,
.right-header {
  display: flex;
  flex-wrap: wrap;
}
.right-header {
  margin-right: 20px;
  margin-top: 3px;
}
.left-header {
  margin-left: 20px;
  height: 0;
  margin-top: 10px;
  position: relative;
}
.navbar {
  position: absolute;
  display: none;
  left: 0px;
  top: 52px;
  width: 104px;
  border-radius: 7px;
  background-color: #1e1e2d;
  text-align: right;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}
.navbar nav {
  width: 100%;
}
.navbar ul {
  width: 100%;
  padding: 0;
  margin-right: 10px;
  list-style: none;
}
.navbar ul li,
.update-navbar ul li {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 2px;
  color: #92929f;
}

/* update navbar */
.update-navbar {
  position: absolute;
  left: 34%;
  top: 52px;
  width: 133px;
  display: none;
  border-radius: 7px;
  background-color: #1e1e2d;
  text-align: right;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.update-navbar nav {
  width: 100%;
}
.update-navbar ul {
  width: 100%;
  margin-right: 10px;
  list-style: none;
  padding: 0;
}
.update-navbar ul li {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 2px;
}
.update-navbar ul li:hover,
.navbar ul li:hover {
  background-color: #1b1b29;
  color: #2c9aff;
}
.update-navbar ul li span,
.navbar ul li span {
  padding: 0 14px;
}

.printer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 5px;
  vertical-align: middle;
  width: 90px;
  height: 30px;
  border: 1px solid transparent;
  background-color: #1e1e2d;
  color: #aaaaaa;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
.update {
  display: flex;
  margin-left: 20px;
  align-items: center;
  height: 30px;
  justify-content: space-around;
  padding: 5px 5px;
  vertical-align: middle;
  width: 120px;
  border: 1px solid transparent;
  background-color: #1e1e2d;
  color: #aaaaaa;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}
.change-page {
  margin-left: 10px;
  margin-top: 2px;
}
.change-page img {
  background: #00a8f7;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 3px;
}
.change-button button {
  width: 43px;
  height: 43px;
  background: #1e1e2d;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 3px;
}
.change-button button:hover {
  background: rgb(0, 168, 247);
  transition: all 0.2s;
}
.add-icon {
  width: 43px;
  height: 36px;
  color: #fff;
  background: rgb(0, 168, 247);
  border: none;
  cursor: pointer;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.add-icon span {
  font-size: 35px;
}
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  width: 100%;
  height: 40px;
  line-height: 28px;
  margin-right: 10px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #1e1e2d;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 226, 183, 0.4);
  background-color: #1e1e2d;
  box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}
.users-counter h3 {
  color: #fff;
  font-weight: bold;
}
.profile-container {
  width: 97%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: #1e1e2d;
}
.profiles {
  width: 45%;
  height: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #808080;
  box-sizing: border-box;
  border-radius: 15px;
  margin-left: 10px;
  margin: 20px 20px;
}
.profile-picture img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.profile-picture span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 2rem;
  margin-bottom: 13px;
}
.first-span{
  background: #2F264F;
  color: #2C9AFF;

}
.second-span{
  background: #392F28;
  color: #E78B2F;
}
.username span {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
.user-job span {
  font-size: 15px;
  color: gray;
}
.users-datails {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  color: #9e9ea7;
}

.datails {
  text-align: right;
  margin-left: 20px;
  border: 1px dashed #3d3d50;
  border-radius: 10px;
  padding: 5px 10px;
}
