@import url(./font-style.css);

/* @import url(./style.css); */
* {
  font-family: iran-sans;
}
body{
  background-color: #fff;
}

.container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.user-page{
  background-color: #fff;
}
.body-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: #fff;
}

.users-header {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  height: 100%;
}

.left-header,
.right-header {
  display: flex;
  flex-wrap: wrap;
}

.right-header {
  width: 29%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.left-header {
  margin-top: 10px;
  position: relative;
}

.navbar {
  position: absolute;
  display: none;
  top: 52px;
  width: 104px;
  border-radius: 7px;
  background-color: #f0f0f0;
  text-align: right;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.navbar nav {
  width: 100%;
}

.navbar ul {
  width: 100%;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}

.navbar ul li,
.update-navbar ul li {
  width: 100%;
  padding: 10px 0px;
  color: #92929f;
}


/* update navbar */
.update-navbar {
  position: absolute;
  top: 52px;
  width: 141px;
  display: none;
  border-radius: 7px;
  background-color: #f0f0f0;
  text-align: right;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
}

.update-navbar nav {
  width: 100%;
}

.update-navbar ul {
  width: 100%;
  list-style: none;
  padding: 0;
}

.update-navbar ul li {
  width: 100%;
  padding: 10px 0px;
  margin-bottom: 2px;
}

.update-navbar ul li:hover,
.navbar ul li:hover {
  background-color: #f0f0f0;
  color: #2c9aff;
}

.update-navbar ul li span,
.navbar ul li span {
  padding: 0 14px;
}

.printer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 5px;
  vertical-align: middle;
  width: 103px;
  height: 43px;
  border: 1px solid transparent;
  background-color: #f0f0f0;
  color: #4B5675;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.update {
  position: relative;
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: space-around;
  padding: 5px 5px;
  vertical-align: middle;
  width: 142px;
  height: 43px;
  border: 1px solid transparent;
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.change-page {
  margin-left: 10px;
  margin-top: 2px;
}

.change-page img {
  background: #00a8f7;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 3px;
  cursor: pointer;
  width: 43px;
  height: 43px;
}

.change-button button {
  width: 43px;
  height: 43px;
  background: #f0f0f0;
  border: none;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  margin-top: 3px;
}

.change-button button:hover {
  background: #00a8f7;
  transition: all 0.2s;
}

.add-icon {
  width: 43px;
  height: 36px;
  color: #fff;
  background: #00a8f7;
  border: none;
  cursor: pointer;
  font-size: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.add-icon span {
  font-size: 35px;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.users-counter {
  margin-top: 8px;
}



.input {
  width: 182px;
  height: 40px;
  line-height: 28px;
  margin-right: 10px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f0f0f0;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:not(.search-input):hover {
  outline: none;
  border-color: #eae2b766;
  background-color: #f0f0f0;
  box-shadow: 0 0 0 4px rgb(234 226 183 / 10%);
}

.icon-search {
  position: absolute;
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

.users-counter h4 {
  color: #000000;
  font-weight: bold;
}

.profile-container {
  width: 97%;
  margin: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  border-radius: 15px;
  background-color: transparent;
}

.profiles {
  width: 45%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #F1F1F2;
  box-sizing: border-box;
  border-radius: 15px;
  margin-left: 10px;
  margin: 20px 20px;
}

.datails span:first-of-type {
  font-weight: bold;
  color: #000000;
}

.profile-picture img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.profile-picture span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 2rem;
  margin-bottom: 13px;
}

.first-span {
  background: #F1F4FF;
  color: #2c9aff;
}

.second-span {
  background: #FCF2E8;
  color: #e78b2f;
}

.third-span {
  background: #EEFBEC;
  color: #50cd89;
}

.forth-span {
  background: #F8F5FF;
  color: #7239ea;
}

.username span {
  font-weight: bold;
  color: #000000;
  font-size: 20px;
}

.user-job span {
  font-size: 15px;
  color: gray;
}

.users-datails {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  color: #9e9ea7;
}

.datails {
  text-align: right;
  margin-left: 20px;
  border: 1px dashed #3d3d50;
  border-radius: 10px;
  padding: 5px 10px;
}

/* -------------footer------------ */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 2rem;
  margin-bottom: 30px;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 15px;
  margin-left: 30px;
}

.pages span {
  margin-left: 10px;
  color: #92929f;
  cursor: pointer;
  font-size: 1.075rem;
  font-weight: 500;
  min-width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.pages span:hover {
  color: #2c9aff;
  background: #ebebeb;
  z-index: 3;
}

.pages span:nth-child(2) {
  color: #ffffff;
  background: #2c9aff;
  display: flex;
  min-width: 2.5rem;
  height: 2.7rem;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  height: 30px;
}

.pages span:nth-child(1),
.pages span:nth-child(8) {
  font-size: 1.5rem;
}

.page-counter {
  margin-right: 48px;
}

.page-counter span {
  color: #92929f;
  font-size: 1.075rem;
  font-weight: 500;
}